

<div style="text-align: center; margin :20px auto;">
<button onclick="queryBank(event)" class="btn btn-primary">Query Bank</button>
<button onclick="addamt()" class="btn btn-primary">Add Amount</button>
<button onclick="sendMoney()" class="btn btn-primary">Send Money</button>
<button onclick="displayBankHistory()" class="btn btn-primary">Bank History</button>
</div>

<br>

<div id="queryBank" style="display: none;">
    
<h2>
    Query Information
</h2>


<div id="bankInfo"></div>
</div>
<br>


<div id="addamt" style="display: none;">
<h2>
    Add Amount
</h2>

<form id="addform" class="form" >
    <table>
        
        <tr>
            <td>Amount</td>
            <td><input type="text" id="amount2" /></td>
        </tr>
         
    
        <tr>
            <td></td>
            <td> <button onclick="addAmount(event)">Procced</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>
</div>

<br>

<div  id="sendMoney" style="display: none;">
<h2>
   Send Money
</h2>

<form id="addform" class="form">
    <table>
        <tr>
            <td>Receiver BankId</td>
            <td><input type="text" id="bankId1" /></td>
        </tr><br>
         <tr>
            <td>Exchange Rate</td>
            <td><input type="text" id="rate" /></td>
        </tr><br>
        <tr>
            <td>Exchange fess</td>
            <td><input type="text" id="fees" /></td>
        </tr><br>
        <tr>
            <td>Amount</td>
            <td><input type="text" id="amount" /></td>
        </tr>
         
    <br>
        <tr>
            <td></td>
            <td> <button onclick="updateAmount(event)">Send Money</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>

</div>

<div id="bankHistory"></div>
