<h2 style="position: absolute; top: 20; right: 0;">Total Revenue : <div id="rev"></div></h2>

<div style="text-align: center; margin :20px auto;">
<button onclick="registerBank()" class="btn btn-primary">Register New Bank</button>
<button onclick="allBanks()" class="btn btn-primary">All Banks</button>
<button onclick="disRevHis()" class="btn btn-primary">Revenue History</button>
{{!-- <button onclick="registerCurrencyForm()" class="btn btn-primary">Register New Currency</button>
<button onclick="allCurrency()" class="btn btn-primary">All Currency</button> --}}


</div>

<div id="registerBank"  style="display: none;">
<h2>
    Add New Bank
</h2>

<form  class="form">
    <table>
        <tr>
            <td>BankId</td>
            <td><input type="text" id="bankId" /></td>
        </tr>
        <tr>
            <td>BankName</td>
            <td><input type="text" id="bankName" /></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input type="text" id="bankCountry" /></td>
        </tr>
        <tr>
            <td>Bank Currency</td>
            <td><input type="text" id="bankCurrency" /></td>
        </tr>
         
    
        <tr>
            <td></td>
            <td> <button onclick="addData(event)">Register Bank</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>

</div>


<br>



<div id="registerCurrency"  style="display: none;">
<h2>
    Add New Currency
</h2>

<form  class="form">
    <table>
        <tr>
            <td>CurrencyId</td>
            <td><input type="text" id="currencyId" /></td>
        </tr>
        <tr>
            <td>CurrencyName</td>
            <td><input type="text" id="currencyName" /></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input type="text" id="bankCountry" /></td>
        </tr>
        <tr>
            <td>Currency Rate</td>
            <td><input type="text" id="rate" /></td>
        </tr>
        <tr>
            <td>Exchange Fees</td>
            <td><input type="text" id="excFees1" /></td>
        </tr>
         
         
    
        <tr>
            <td></td>
            <td> <button onclick="registerCurrency(event)">Register Currency</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>

</div>

<div id="allCurrency"></div>

<div id="allBank"></div>

<div id="revHistory"></div>


<script>
    var data=fetchRevHistory();
    var r=data[0].Record.revenue;
    document.getElementById("rev").innerHTML="";
     document.getElementById("rev").innerHTML=r;
</script>

